#content {
  margin: 0px auto;
}

#slideShow {
  padding: 15px 0;
  height: 440px;
}

#aboutUs {
  text-align: center; 
}

.imgSlideShow {
  display: none;
  height:440px;
  width:90%;
  margin:auto;
}

#slide-buttons {
  text-align: center;
  padding-bottom:15px;
}
#slide-buttons button{
  padding:10px;
  margin-left:15px;
  border-radius:30px;
  border:1px solid #231F20;
  
}
#slide-buttons button:active{
  background-color:#231F20;
}
#slide-buttons button:focus{
  outline: 0;
}
