#content {
  margin: 10px auto;
}
.col{
	float:left;
}
#categories{
	width:20%;
	padding:0;
	margin-right:5px;

}
#categories ul{
	list-style-type:none;
	padding:0;
	text-align:center;
	margin:0;
}
#categories li{
	width:100%;
	background-color:white;
	font-size:18px;
	outline:none;
	margin-bottom:15px;
	border:none;
	border: 1px solid #D7D7D7;
	border-radius:5px;
}
#categories a:hover{
	background-color:black;
	color:white;
}
#categories a:focus{
	color:white;
	background-color:black;
}
#categories a{
	width:100%;
	color:black;
	text-decoration:none;
	display:block;
	padding:5px 0;
	transition: color 0.6s;
	transition: background-color 0.6s;
}
#menu-list{
	width:54%;
	height:330px;
}
#menu-list img{
	padding-top:5px;
	height:48%;
}
#menu-list .menu-row{
	width:90%;
	margin: 0 auto 20px;
	height:100%;
}
#menu-list .menu-item{
	width:45%;
	height:100%;
	background-color:white;
	display:inline-block;
	margin:0 2%;
	border: 1px solid #D7D7D7;
	overflow:hidden;
	border-radius:5px;
}
#menu-list img{
	display:block;
	width:80%;
	margin:0 auto;
}
#menu-list p{
	text-align:center;
	margin:0;
	font-size:18px;
	padding-bottom:15px;
	border-bottom: 1px solid #D7D7D7;
	cursor:default;
}
#menu-list .order-count{
	height:56px;
	text-align:center;
}
#menu-list .order-count button, .submit-btn{
	color:black;
	background-color:white;
	cursor:pointer;
	border: 1px solid #d7d7d7;
	border-radius:5px;
	transition: background-color 0.6s;
	transition: color 0.5s;
}
#menu-list .order-count button:hover, .submit-btn:hover{
	color:white;
	background-color:black;
}
#menu-list .order-count .minus-btn,#menu-list .order-count .plus-btn{
	padding:5px 10px;
	margin:9px 0;
	width:34px;
	font-size:24px;
}
#menu-list .submit-btn{
	font-size:18px;
	margin:0 auto;
	text-transform:uppercase;
	padding: 6px 22px;
}

#menu-list .order-count input{
	margin: 10px 30px;
	text-align:center;
    padding: 9px 0;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
	cursor:default;
	outline:none;
}
#cart{
	float:right;
	width:25%;
	padding-top:0;
	margin-left:5px;
	text-align:center;
	border: 1px solid #D7D7D7;
	margin-bottom:20px;
	border-radius:5px;
}
#cart input{
	border:none;
	background:none;
	font-size:16px;
	text-align:right;
}
#cart td,#cart input{
	cursor:default;
}
#cart h2{
	background-color:black;
	color:white;
	margin:0;
	padding:10px;
}
#cart table{
	width:100%;
	background-color:white;
	color:black;
	padding:0 5px;
	border-collapse:collapse;
}
#cart table .right{
	text-align:right;
	width:10%;
}
#cart table .left{
	text-align:left;
}
#cart table .new-item{
	position:relative;
	padding-top:15px;
	padding-bottom:15px;
}
.delete-btn{
	position:absolute;
	right:0;
	top:32%;
    height:16px;
    font-weight: bold;
	opacity:0.4;
	transition: opacity 0.6s;
	cursor:pointer;
}
.delete-btn:hover{
	opacity:1;
}
#cart table th{
	padding:5px 15px;
	font-size:20px;
	font-weight:normal;
}
#cart table th input{
	font-size:20px;
}
#cart table td{
	font-size:16px;
	padding:5px 15px;
	height:20px;
}
.blank-row{
	height:20px;
}
#sub-total{
	border-top:1px solid #d6d6d6;
}
#net-total{
	border-bottom:1px solid #d6d6d6;
}
#submit-order{
	padding:20px 5px 15px;
	background-color:white;
}
#submit-order .submit-btn{
	font-size:18px;
	margin:0 auto;
	text-transform:uppercase;
	padding: 10px 40px;
}
#alacarte-menu {
	display: none;
}

#sides-menu {
	display: none;
}

#drinks-menu {
	display: none;
}

#promotion-menu {


}
