#content {
  margin: 10px auto;
}

#order-details{
	width:60%;
	text-align:center;
	border: 1px solid #D7D7D7;
	background-color:white;
	margin:auto;
	border-radius:5px;
	margin-bottom:20px;
}
#order-details p{
	padding:10px;
	border-bottom:1px solid #D7D7D7;
	margin:0;
}
#order-details h2{
	background-color:black;
	color:white;
	margin:0;
	padding:10px;
	margin-bottom:10px;
}

#order-details table{
	width:97%;
	background-color:white;
	color:black;
	margin:0 10px;
	border-collapse:collapse;
	border-bottom:1px solid #d7d7d7;
}
#order-details table .right{
	text-align:right;
	width:10%;
}
#order-details table .left{
	text-align:left;
}
#order-details table th{
	padding:10px;
	font-size:24px;
	font-weight:normal;
}
#order-details table td{
	font-size:16px;
	padding:10px 15px;
	height:20px;
}
.blank-row{
	height:20px;
}
#sub-total{
	border-top:1px solid #d7d7d7;
}
#net-total{
	border-bottom:1px solid #d7d7d7;
}
#delivery-time{
	float:right;
	width:68px;
}
#payment-method{
	width:64px;
}
#last-row{
	height:50px;
	border-top:none;
	width:50%;
	margin:auto;
}
#print{
	float:left;
	margin:8px 0 8px 10px;
}
#return{
	float:right;
	margin:8px 10px 8px 10px;
}

#print button,#return a{
	font-size:18px;
	margin:0 auto;
	text-transform:uppercase;
	padding: 5px 10px;
	color:black;
	background-color:white;
	cursor:pointer;
	border: 1px solid #d7d7d7;
	border-radius:5px;
	transition: color 0.5s;
	display:block;
}
#print button:hover, #return a:hover{
	color:white;
	background-color:black;
}
